@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

body {
  background-color: #212529;
  padding: 3rem;
  color: #dee2e6;
  font-family: 'Playpen Sans', cursive;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}